# Group-4 project gitignore

### Helpful advice
#   1.
#     To delete a file from git, say after adding it to this .gitignore
#     git rm --cached file-to-remove.txt
#     This preserves the file on local, but git considers it gone.
#
#   2.
#     To fix "I added this file/folder to gitignore, but it doesn't ignore"
#     git -rm -rf  (have it added to .gitignore, and commit)
#     Beware this also removes the file from local (try --cached?).

### Group-wide gitignore
###   Files we all have and none of us should upload
#
/repo_mining/data/


### Contributor gitignore
###   Files we might individually have, and don't need uploaded
#
#
## Ken's specific gitignore:
/Precondition-report-outline.org
/.idea/
/.venv/
**/__pycache__
*.swp


## Your name
#
# etc
