# Group-4 project gitignore

### Helpful advice
#   1.
#     To delete a file from git, say after adding it to this .gitignore
#     git rm --cached file-to-remove.txt
#     This preserves the file on local, but git considers it gone.
#
#   2.
#     To fix "I added this file/folder to gitignore, but it doesn't ignore"
#     git -rm -rf  (have it added to .gitignore, and commit)
#     Beware this also removes the file from local (try --cached?).


### Group-wide gitignore
###   Files we all have and none of us should upload
#

*.db
.DS_Store

/repo_mining/data/

/test_coverage_lab/.coverage
/test_coverage_lab/.DS_Store
/test_coverage_lab/test.db
/test_coverage_lab/.pytest_cache/
/test_coverage_lab/instance/
/test_coverage_lab/migrations/
/test_coverage_lab/models/__pycache__/
/test_coverage_lab/models/__init__.py
/test_coverage_lab/tests/__pycache__/
/test_coverage_lab/tests/__init__.py
/test_coverage_lab/tests/fixtures/
/test_coverage_lab/tests/.DS_Store

/tdd_lab/.DS_Store
/tdd_lab/.coverage
/tdd_lab/LICENSE
/tdd_lab/README.md
/tdd_lab/pytest.ini
/tdd_lab/requirements.txt

/tdd_lab/doc/

/tdd_lab/src/__init__.py
/tdd_lab/src/status.py

/tdd_lab/tests/__init__.py


### Contributor gitignore
###   Files we might individually have, and don't need uploaded
#
#
## Ken's specific gitignore:
/Precondition-report-outline.org
/.idea/
/.venv/
**/__pycache__
*.swp

## Kevin's gitignore for ci_lab
# Ignore Python cache files and environment-related files inside ci_lab
/ci_lab/.coverage
/ci_lab/.DS_Store
/ci_lab/test.db
/ci_lab/.pytest_cache/
/ci_lab/instance/
/ci_lab/migrations/
/ci_lab/__pycache__/
/ci_lab/src/__pycache__/
/ci_lab/tests/__pycache__/
/ci_lab/tests/fixtures/
/ci_lab/tests/.DS_Store
/ci_lab/.pyc

## Your name
#
# etc
